.menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.menu-list{
    margin: 5px;
}
.menu-list-text{
    display: inline-block;
    padding: 5px;
    border: 1px solid black;
}
.menu-list-text:nth-child(n+2){
    display: none;
}
.menu-list:hover .menu-list-text{
    display: inline-block;
}