.menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.menu-inner{
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.menu-list{
    margin: 5px;
    display: inline-block;
}
.menu-first-item{
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    border: 1px solid black;

}
.menu-list-text{
    cursor: pointer;
    display: none;
    padding: 5px;
    border: 1px solid black;
}